<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
 <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"/>
 <application android:theme="@style/Theme.NotifyBridge" android:label="@string/app_name" android:icon="@drawable/ic_app_logo" android:roundIcon="@drawable/ic_app_logo" android:usesCleartextTraffic="false" android:allowBackup="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity>
  <service android:name=".BridgeListener" android:label="NotifyBridge" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true"><intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter></service>
 </application>
</manifest>
